/* Ustawienie nawigacji górnej */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Tektur", cursive;
}

main {
  min-height: 100%;
  background-image: url("./img/backround.jpeg"); /* Ścieżka do zdjęcia w tle */
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f1f1f1;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 100px; /* Dostosuj szerokość obrazu */
  height: auto;
  margin-right: 10px; /* Dostosuj margines */
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  margin-right: 30px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
}
.laptop-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* Sekcja 1
.laptop-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
}

.laptop-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-image: url(./img/Ojciec.png);
  background-size: cover;
  transform-origin: top right;
  transform: skewX(-15deg);
  z-index: -2;
}

.laptop-container::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background-image: url(./img/Karolina.png);
  background-size: cover;
  transform-origin: top left;
  transform: skewX(15deg);
  z-index: -2;
} */

/* ROBIMY NANIESIENIE NA KAROLINE I ADRIANA */
.side-images {
  display: flex;
  justify-content: center; /* Wyśrodkowanie wzdłuż osi poziomej */
  align-items: center; /* Wyśrodkowanie wzdłuż osi pionowej */
  flex-wrap: wrap; /* Pozwala na zawijanie do nowej linii, jeśli brakuje miejsca */
  margin: -80px auto 20px; /* Dostosuj margines górny i dolny */
  max-width: 1200px;
  padding: 0 20px;
}

.side-image {
  flex-basis: 40%; /* Dostosowana szerokość obrazka */
  max-height: 400px;
  margin: 20px; /* Odstęp między obrazkami */
  box-sizing: border-box; /* Zapobiega dodatkowemu zwiększaniu rozmiaru z marginesami i paddingiem */
}

.left-image {
  width: 150%; /* Dostosuj szerokość obrazka lewego */
  max-height: 400px; /* Ustaw maksymalną wysokość obrazka lewego */
}

.right-image {
  width: 85%; /* Dostosuj szerokość obrazka prawego */
  max-height: 400px; /* Ustaw maksymalną wysokość obrazka prawego */
}

.btn1 {
  background-color: blue;
  border-radius: 5%;
}
