/* Ustawienie nawigacji górnej */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Tektur", cursive;
}

main {
  min-height: 100%;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f1f1f1;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 100px; /* Dostosuj szerokość obrazu */
  height: auto;
  margin-right: 10px; /* Dostosuj margines */
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  margin-right: 30px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
}

/* Sekcja 1 */
.background-container {
  background-image: url("./img/background\ image.jpg"),
    url("./img/adrian\ avatar.png"), url("./img/karola\ avatar.png");
  background-size: cover, auto, auto;
  background-position: center, top left, top right;
  background-repeat: no-repeat, no-repeat, no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 50px;
  color: #fff; /* Kolor tekstu */
  height: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Styl cienia */
}

.avatar1 {
  background-image: url("./img/adrian\ avatar.png");
  background-size: cover;
}
